{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przychodnia Medyk</title>
</head>
<body>
    
    <header>
        <div id="logo-container">
            <a href="#"> <img src="{% static 'img/logo.png' %}" alt="Logo przychodni Medyk"> </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home  </a></li>
                <li><a href="/info">Informacje o dyżurach </a></li>
                <li><a href="/lekarze"> Lekarze </a></li>
                <li><a href="{% url 'dodaj_lek' %}"> Dodaj lek </a></li>
                <li><a href="{% url 'dodaj_pacjent' %}"> Dodaj pacjenta </a></li>
            </ul>
        </nav>
    </header>

    <section>
        <aside>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="Wyslij">
            </form>
        </aside>

        <aside>
            
        </aside>

    </section>

<footer>
    Informacje zawarte w stopce
</footer>

</body>
</html>