{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przychodnia Medyk</title>
</head>
<body>
    
    <header>
        <div id="logo-container">
            <a href="#"> <img src="{% static 'img/logo.png' %}" alt="Logo przychodni Medyk"> </a>
        </div>
        <nav>
            <ul>
                <li><a href="start">Home  </a></li>
                <li><a href="info">Informacje o dyżurach </a></li>
                <li><a href="#"> Podstrona 1 </a></li>
                <li><a href="#"> Podstrona 1 </a></li>
                <li><a href="#"> Podstrona 1 </a></li>
            </ul>
        </nav>
    </header>

    <section>
        <aside>
            {% for rekord in pacjenci_all %}
                <p>{{ rekord.imie }} {{rekord.nazwisko}} </p>
            {% endfor %}
        </aside>

        <aside>
            <p>
                Aliquam vitae laoreet elit. Vestibulum id efficitur sem. Morbi eu elit vitae felis accumsan viverra. Etiam ac sapien nisi.
                Phasellus sollicitudin vestibulum ultrices. Nulla facilisi. Nullam mi mauris, placerat vel nulla quis, venenatis posuere libero.
                Quisque sodales aliquam orci, ac rutrum neque molestie sed. Mauris iaculis nec eros a fringilla. Nullam lorem justo, fringilla vitae finibus quis, interdum et odio. Praesent consectetur est ac feugiat mattis. Nam ut nisl feugiat, scelerisque neque in, sollicitudin erat. Proin bibendum arcu sapien, eu efficitur velit semper semper. Cras pretium sem eu ex ultrices, a fringilla libero semper. Praesent in ante non erat volutpat sagittis. Proin accumsan id sem ut fermentum. 
            </p>
        </aside>

    </section>

<footer>
    Informacje zawarte w stopce
</footer>

</body>
</html>