{% extends 'template.html' %}
{% block content %}
        <aside>

            <table>
            {% for item in pacjenci_all %}
                <tr> <td>{{item.imie}}</td> <td>{{item.nazwisko}}</td> <td><a href="{% url 'edytuj_pacjent' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_pacjent' item.id %}">Usuń</a></td></tr>
             {% endfor %}  
            </table>
            <table>
            {% for item in lekarze_all %}
            <tr> <td>{{item.imie}}</td> <td>{{item.nazwisko}}</td> <td><a href="{% url 'edytuj_lekarz' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_lekarz' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>

            <table>
            {% for item in wizyty_all %}
            <tr> <td>{{item.dataWizyty}}</td> <td>{{item.godzina}}</td> <td><a href="{% url 'edytuj_wizyta' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_wizyta' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>

            <table>
            {% for item in dyzury_all %}
            <tr> <td>{{item.czasRozpoczecia}}</td> <td>{{item.czasZakonczenia}}</td> <td><a href="{% url 'edytuj_dyzur' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_dyzur' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>
        </aside>

        <aside>
            <table>
            {% for item in recepta_all %}
            <tr> <td>{{item.idLek}}</td> <td>{{item.dataWystawienia}}</td> <td>{{item.dataWaznosci}}</td> <td><a href="{% url 'edytuj_lekarz' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_lekarz' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>
            
            <table>
            {% for item in choroby_all %}
            <tr> <td>{{item.nazwaChoroby}}</td> <td>{{item.Opis}}</td><td>{{item.idObjaw}}</td> <td><a href="{% url 'edytuj_lekarz' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_lekarz' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>
            
            <table>
            {% for item in objawy_all %}
            <tr> <td>{{item.nazwaObjawu}}</td> <td>{{item.opis}}</td> <td><a href="{% url 'edytuj_lekarz' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_lekarz' item.id %}">Usuń</a></td></tr>
            {% endfor %}
            </table>

            <table>
            {% for item in leki_all %}
            <tr> <td>{{item.nazwa}}</td> <td>{{item.refundacja}}%</td> <td><a href="{% url 'edytuj_lekarz' item.id %}">Edytuj</a></td> <td><a href="{% url 'usun_lekarz' item.id %}">Usuń</a></td></tr> 
            {% endfor %}
            </table>
            

            

        </aside>

    </section>

    {% endblock %}