{% extends 'template.html' %}
{% block content %}
        <aside>
            <p>
                {% for item in pacjenci_all %}
                   <p> {{item.imie}} {{item.nazwisko}}<a href="{% url 'edytuj_pacjent' item.id %}">Edytuj</a> <a href="{% url 'usun_pacjent' item.id %}">Usuń</a></p> </p>
                {% endfor %}
            </p>

        </aside>

        <aside>

            {% for item in leki %}
            <p> {{ item.nazwa }} <a href="{% url 'edytuj_lek' item.id %}">Edytuj</a> <a href="{% url 'usun_lek' item.id %}">Usuń</a></p> 
            {% endfor %}

        </aside>

    </section>

    {% endblock %}