{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna - Przychodnia Medyk</title>
</head>
<body>
    
    <header>
        <div id="logo-container">
            <a href="#"> <img src="{% static 'img/logo.png' %}" alt="Logo przychodni Medyk"> </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home  </a></li>
                <li><a href="{% url 'dodaj_lekarz' %}"> Dodaj Lekarza </a></li>
                <li><a href="{% url 'dodaj_lek' %}"> Dodaj lek </a></li>
                <li><a href="{% url 'dodaj_recepta' %}"> Dodaj recepte </a></li>
                <li><a href="{% url 'dodaj_objaw' %}"> Dodaj objaw </a></li>
                <li><a href="{% url 'dodaj_choroba' %}"> Dodaj chorobe </a></li>
                <li><a href="{% url 'dodaj_pacjent' %}"> Dodaj pacjenta </a></li>
                <li><a href="{% url 'dodaj_pacjent' %}"> Dodaj wizyte </a></li>
                <li><a href="{% url 'dodaj_pacjent' %}"> Dodaj dyzur </a></li>

            </ul>
        </nav>
    </header>

    <section>
        {% block content %}
        
        {% endblock %}
    </section>

<footer>
    Informacje zawarte w stopce
</footer>

</body>
</html>